 1.Write a program to that accepts the radius ‘r’ of a circle as user input 


and compute the area

In [52]:
# Please provide your answer below this line

from math import pi
r = float(input ("Input the radius of the circle : "))
calculateArea = str(pi * r**2);

print ("The area of the circle with radius " + str(r) + " is: " + calculateArea)

Input the radius of the circle : 2.3
The area of the circle with radius 2.3 is: 16.619025137490002

2.Write a program to accept mark as user input then

 - if mark greater than or equal to 95 then print A+

 - if mark greater than or equal to 90 and mark less than 95 then print A

 - if mark greater than or equal to 85 and mark less than 90 then print B+

 - if mark greater than or equal to 80 and mark less than 85 then print B

In [53]:
# Please provide your answer below this line
mark = int (input ("Enter the candidate mark for subject :- "))
per = ((mark))

if per >= 95 :
    print ("Grade is 'A+'")
elif per >= 90 and per <= 94 :
    print ("Grade is 'A'")
elif per >= 85 and per <= 89 :
    print ("Grade is 'B+'")
elif per >= 80 and per <= 84 :
    print ("Grade is 'B'")
elif per <= 79 :
    print ("Poor Grade - retake the test")

Enter the candidate mark for subject :- 98
Grade is 'A+'

 3.Write a program to find how many ‘ab’ substrings are there in the below two strings<br>
“aaabbabbab”

“aabbabbbaaaababaaab”

In [54]:
# Please provide your answer below this line

str1 = 'aaabbabbab'
str2 = 'aabbabbbaaaababaaab'
substr = 'ab'

result1 = str1.count(substr)
result2 = str2.count(substr)

print("Number of substrings in str1:", result1)
print("Number of substrings in str2:", result2)

Number of substrings in str1: 3
Number of substrings in str2: 5

 4.Write a program to input two numbers by user and swap the number.

In [55]:
# Please provide your answer below this line

a = int(input("Enter a number a: "))
b = int(input("Enter another number b: "))

print("Before Swapping two Numbers: a = {0} and b = {1}".format(a, b))

temp = a
a = b
b = temp

print("After Swapping two Numbers: a = {0} and b = {1}".format(a, b))

Enter a number a: 48
Enter another number b: 85
Before Swapping two Numbers: a = 48 and b = 85
After Swapping two Numbers: a = 85 and b = 48

 6.Write a Python program to get the Fibonacci series between 0 to 50. <br>
Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....

In [47]:
# Please provide your answer below this line

a,b=0,1

while a<50:
    print(a)
    a,b = b,a+b

0
1
1
2
3
5
8
13
21
34

7.Write a Python program to sum all the items in a list

In [49]:
# Please provide your answer below this line
numlist = []
num = int(input('Total number of list elements: '))

for n in range(num):
    numbers = int(input('Enter the number '))
    numlist.append(numbers)

print("Sum of all elements in given list is :", sum(numlist))

Total number of list elements: 3
Enter the number 89
Enter the number 78
Enter the number 51
Sum of all elements in given list is : 218

8.Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz'

In [50]:
# Please provide your answer below this line

def swap(a, b):
  new_a = b[0:] + a[0:]
  return new_a
print(swap(' Giraffe', 'Monkey'))

Monkey Giraffe

9.Write a simple python 'module' with 3 functions to manage simple Bank Account transactions

The module should contain 3 function

1) Function for opening an account.

2) Function to display and update account if amount is deposited.

3) Function to display and update account if amount is withdrawn.

In [51]:
# Please provide your answer below this line